/* General Styles */
body {
    margin: 0;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
    line-height: 1.6;
    color: #333;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font: inherit;
    cursor: pointer;
}

/* Header */
header {
    background: linear-gradient(to right, #32188cec, #623ceb);
    color: #fff;
    padding: 1rem 2rem;
    width: 95.2%;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;  
}

.nav-links {
    display: flex;
    gap: 1.5rem;
}

.nav-links li {
    padding: 0.5rem;
}

.nav-links a {
    color: #ebe9e9;
    font-weight: bold;
    transition: color 0.3s ease;
}   

.nav-links a:hover {
    background-color: #eed813; /* Change to your desired color */
    color: white; /* Change text color */
    transform: scale(1.05); /* Slightly enlarge the button */
    transition: all 0.3s ease; /* Smooth transition */
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: linear-gradient(to right, #32188cec, #1f1349);
    color: #fdfffd;
    padding: 2rem;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid rgba(246, 41, 41, 0.75);
    width: 100%; /* Set to 100% to show full width */
    animation: typing 4s steps(30, end) infinite alternate, blink 0.5s step-end infinite alternate;
}

@keyframes typing {
    0%, 100% {
        width: 0; /* Start and end with no text */
    }
    50% {
        width: 100%; /* Show full text at midpoint */
    }
}

@keyframes blink {
    from { border-color: rgba(255, 255, 255, 0.75); }
    to { border-color: transparent; }
}

@keyframes blink {
    from { border-color: rgba(255, 255, 255, 0.75); }
    to { border-color: transparent; }
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: fadeIn 2s ease-in-out 4s forwards;
}

@keyframes fadeIn {
   
    to { opacity: 1; }  
}

.btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid #33b0f3;
    cursor: pointer;
    position: relative;
    background-color: #32188cec;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
   }
   
   .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #33b0f3;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   
   .btn:hover::before {
    transform: translateX(0);
   }

/* About Section */
.about { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 4rem 2rem;
    background: linear-gradient(to right, #32188cec, #1f1349);
}

.profile-pic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.profile-pic:hover {
    transform: scale(1.1);
}

.about-text {
    max-width: 600px;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
    color: #ddd;
    transition: color 0.3s ease; /* Smooth transition */
}
.about-text h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* Education section */
.card {
  padding: 1rem;
  overflow: hidden;
  border: 1px solid #c5c5c5;
  border-radius: 12px;
  background: linear-gradient(to right, #32188cec, #1f1349);
  backdrop-filter: blur(8px);
  min-width: 344px;
}
.wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 10;
  border: 0.5px solid #525252;
  border-radius: 8px;
  overflow: hidden;
}
.terminal {
  display: flex;
  flex-direction: column;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
    color: #ddd;
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  min-height: 40px;
  padding-inline: 12px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: linear-gradient(to right, #32188cec, #1f1349);
}
.title {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 2.5rem;
  user-select: none;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #f8f8f8;
}
.title > svg {
  height: 18px;
  width: 18px;
  margin-top: 2px;
  color: #006adc;
}
.copy_toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border: 0.65px solid #c1c2c5;
  margin-left: auto;
  border-radius: 6px;
  background-color: #202425;
  color: #8e8e8e;
  cursor: pointer;
}
.copy_toggle > svg {
  width: 20px;
  height: 20px;
}
.copy_toggle:active > svg > path,
.copy_toggle:focus-within > svg > path {
  animation: clipboard-check 500ms linear forwards;
}
.body {
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  overflow-x: auto;
  padding: 1rem;
  line-height: 19px;
  color: white;
  background-color: rgb(36, 36, 36);
  white-space: nowrap;
}
.pre {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-wrap: nowrap;
  white-space: pre;
  background-color: transparent;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 16px;
}
.pre code:nth-child(1) {
  color: #575757;
}
.pre code:nth-child(2) {
  color: #e34ba9;
}
.cmd {
  height: 19px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.cmd::before {
  content: attr(data-cmd);
  position: relative;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  animation: inputs 8s steps(22) infinite;
}
.cmd::after {
  content: "";
  position: relative;
  display: block;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
  border-right: 0.15em solid #e34ba9;
  animation: cursor 0.5s step-end infinite alternate, blinking 0.5s infinite;
}

@keyframes blinking {
  20%,
  80% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
}
@keyframes cursor {
  50% {
    border-right-color: transparent;
  }
}
@keyframes inputs {
  0%,
  100% {
    width: 0;
  }
  10%,
  90% {
    width: 58px;
  }
  30%,
  70% {
    width: 215px;
    max-width: max-content;
  }
}
@keyframes clipboard-check {
  100% {
    color: #fff;
    d: path(
      "M 9 5 H 7 a 2 2 0 0 0 -2 2 v 12 a 2 2 0 0 0 2 2 h 10 a 2 2 0 0 0 2 -2 V 7 a 2 2 0 0 0 -2 -2 h -2 M 9 5 a 2 2 0 0 0 2 2 h 2 a 2 2 0 0 0 2 -2 M 9 5 a 2 2 0 0 1 2 -2 h 2 a 2 2 0 0 1 2 2 m -6 9 l 2 2 l 4 -4"
    );
  }
}


/* Projects Section */
/* .projects {
    background: linear-gradient(to right, #333, #1f1349); 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 40px 0;
    text-align: center; 
}
body.dark-mode .projects {
    background: linear-gradient(to right, #333, #1f1349); 
}
.projects h2 {
    margin-bottom: 20px;
} */
/* 
.project-grid {
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.btn, .project-card {
       transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project-card {

    padding: 1rem;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
} */

/* Keep Project Card Background in Dark Mode */
/* body.dark-mode .project-card {
    background: linear-gradient(to right, #333, #1f1349);
}
.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background: #f39c12;
    color: #fff;
    transform: scale(1.05);
}

.project-card h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.project-links .btn {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background: #6a11cb;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.3s ease;
}

.project-links .btn:hover {
    background: #2575fc;
    transform: scale(1.1);
} */

/* Skills Section */
.skills {
    padding: 4rem 2rem;
    background: linear-gradient(to right, #32188cec, #1f1349);
    text-align: center;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
    color: #ddd;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1.5rem;
    justify-items: center;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill i {
    font-size: 3rem; /* Adjust icon size */
    margin-bottom: 0.5rem;
}

.skill span {
    font-size: 1rem;
}

.skill:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 10px #33b0f3;
}
/* Contact Section */
.contact {
    /* From Uiverse.io by wilsondesouza */ 
ul {
    list-style: none;
  }
  
  .example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .example-2 .icon-content {
    margin: 0 10px;
    position: relative;
  }
  .example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
  }
  .example-2 .icon-content a:hover {
    color: white;
  }
  .example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover .filled {
    height: 100%;
  }
  
  .example-2 .icon-content a[data-social="linkedin"] .filled,
  .example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
  }
  
  .example-2 .icon-content a[data-social="github"] .filled,
  .example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
  }
  .example-2 .icon-content a[data-social="instagram"] .filled,
  .example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
      45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f
    );
  }
  .example-2 .icon-content a[data-social="youtube"] .filled,
  .example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
  }
  
    padding: 4rem 2rem;
    background: linear-gradient(to right, #32188cec, #1f1349);
    text-align: center;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
    color: #ddd;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form input,
.contact-form textarea {
    padding: 0.8rem;
    border: 3px solid #2d90f3;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #e5e2e2;
}

.contact-form button {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  .contact-form button span {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
}
  
  .contact-form button svg {

    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  .contact-form button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  .contact-form button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
    color: #1f1349;
  }
  
  .contact-form button:hover span {
    transform: translateX(5em);
    color: #1f1349;
  }
  
  .contact-form button:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }
  

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background: #2e2d2d;
    color: #fff;

.tooltip-container {
    --background: #4132c9;
    --support-size: 3px;
    --tooltip-radius: 10px 10px 10px 0;
    --outline-border-color: #1ed9f1;
    position: relative;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 17px;
    font-weight: bold;
    padding: 0.7em 1.8em;
    color:white;
    border: solid 2px var(--background);
  }
  
  .tooltip-container::before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.5s linear;
    outline: 3px solid transparent;
    background: var(--background);
  }
  .tooltip-container:hover {
    color: #4132c9;
    background-color: #1ca0f5;
  }
  .tooltip-container:hover:before {
    width: 100%;
    height: 100%;
    border-radius: 0;
    outline-offset: 5px;
    outline-color: var(--outline-border-color);
  }
  .tooltip {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 50%;
    transform: translateX(-5%);
    padding: 0.3em 0.6em;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    background: var(--background);
    border-radius: var(--tooltip-radius);
    color: white;
    box-shadow: 3px 3px 0px var(--outline-border-color);
  }
  
  .tooltip::after {
    content: "See you !👋";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background);
    text-align: center;
    border-radius: var(--tooltip-radius);
  }
  .tooltip::before {
    position: absolute;
    content: "";
    bottom: 0;
    border-style: solid;
    border-width: 10px;
    left: 0;
    transform: translateX(-50%);
    border-color: transparent var(--background) var(--background) transparent;
    box-shadow: 0px 3px 0px var(--outline-border-color);
  }
  
  .tooltip-container:hover .tooltip::after {
    animation: hidden 0.5s 1.5s linear forwards;
  }
  
  .tooltip-container:hover .tooltip {
    top: calc(-100% - var(--support-size) * 0.5);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    animation: shake 0.5s 1s linear;
    transition: all 0.3s 0.5s;
  }
}

footer .social-icons a {
    margin: 0 0.5rem;
    color: #fff;
    font-size: 1.5rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

footer .social-icons a:hover {
    color: #f39c12;
    transform: scale(1.2);
}

/* Fade-In Effect */
/* section {
    opacity: 0;
    transform: translateY(150px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    
}

section.fade-in {
    opacity: 1;
    transform: translateY(0);

} */
.fade-section { 
    opacity: 0;
    transform: translateY(150px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-section.fade-in {
    opacity: 1;
    transform: translateY(0);
}

body {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInPage 1s ease-out forwards;
  }
  
  @keyframes fadeInPage {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

@media (max-width: 768px) {
    .about {
        flex-direction: column;
        text-align: center;
    }
}
/* Hero Section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: linear-gradient(to right, #32188cec, #1f1349);
    h1 {
        color: white; /* Keeps other text white */
    }
    
    .highlight {
        color: #4adef6; /* Changes 'RACHIT TACHAMO' to blue */
    }
    
    padding: 2rem;
    transition: background-color 0.3s ease;
}
.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid rgba(255, 255, 255, 0.75);
    width: 0;
    animation: typing 4s steps(30, ), blink 0.5s step-end infinite alternate;
}

@keyframes hidden {
    50% {
      transform: translate(-50%, -50%) scale(0.5);
      background-color: #1ca0f5;
    }
    100% {
      transform: translate(0, -50%) scale(0.5);
      opacity: 0;
    }
  }
  
  @keyframes shake {
    0%,
    40%,
    80% {
      transform: translateX(-10%);
    }
    20%,
    60%,
    100% {
      transform: translateX(0);
    }
  }
  
  .st2 {
    fill: #f9c8a7;
  }
  .st3 {
    fill: #ff9e97;
  }
  .st6 {
    fill: #d72e48;
  }
  .st7 {
    fill: #ffffff;
  }
  .st8 {
    fill: #ff8d7f;
  }
  .st10 {
    fill: #3d3d3b;
  }
  .st11 {
    fill: #1ca0f5;
  }
  .st12 {
    opacity: 0.2;
  }
  .st14 {
    fill: #b7b7b7;
  }
  .st15 {
    fill: #ead9cf;
  }